.navigationContainer {
  display: flex;
  justify-content: space-between;
  margin: 24px;
}

.navigationContainer > * {
  width: 33%;
}

.timezones {
  border-radius: 4px;
  border: 2px solid #ccc;
  padding-left: 24px;
  font-weight: bold;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fafafa;
  background-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

.monthLabel {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.navigationButtons {
  display: flex;
  justify-content: flex-end;
}

.todayButton, .previousButton, .nextButton {
  background: none;
  border: 2px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  transition: 0.3s;
}

.todayButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-width: 2px 1px 2px 2px;
}

.previousButton {
  border-width: 2px 1px;
}

.nextButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 2px 2px 2px 1px;
}

.todayButton:hover, .previousButton:hover, .nextButton:hover {
  border-color: #C637B3;
}
