.breadcrumbContainer {
  display: flex;
  align-items: center;
  padding: 8px;
}

.breadcrumbImage {
  border-radius: 10px;
}

.breadcrumbLinksContainer {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

.breadcrumbLink {
  font-size: 12px;
}

.breadcrumbLink a:hover {
  text-decoration: underline;
}

.breadcrumbCarrot {
  font-size: 12px;
  padding: 0 12px;
}
