.calendarModal {
  position: fixed;
  background-color: #ffffff;
  text-align: center;
  min-width: 400px;
  min-height: 300px;
  padding: 24px;
  border-radius: 4px;
}

.month {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(7,minmax(0,1fr));
  gap: 0;
  text-align: center;
}

.monthLabel {
  text-align: center;
  cursor: text;
}

.dayLabel {
  text-align: center;
  cursor: text;
}
