$creatorfy-pink: #D800B9;
$creatorfy-light-pink: #FF6AEA;
$creatorfy-light-light-pink: #FFBBF5;
$creatorfy-faint-pink: #ffe9fc;
$creatorfy-off-black: #2d0228;
$creatorfy-dark: #5B497A;
$creatorfy-background: #F7F8FA;