.signUp {
    font-size: 24px;
    font-weight: 700;
}

.onboardingTitleOne {
    font-size: 48px;
    width: 477px;
    font-weight: 700;
    display: flex;
    text-align: center;
}

.backBtn {
    margin-top: 30px;
}

.dontWorryCard {
    margin-top: 46px;
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 400;
    max-width: 726px;
    height: 92px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.setUpList {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 400;
}

.onboardingOneCard {
    width: 356px;
    height: 373px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.setUp {
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
}

.setUpMerch {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 40px;

}

.cardIcon {
    font-size: 48px;
    margin-top: 20px;
}

.cardContainer {
    display: flex;
    grid-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }


.welcome {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.getStarted {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 60px;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    max-width: 1440px;
    margin: auto;
    min-width: 533px;
    height: 100%;
    padding: 70px 100px;
}

.respect {
    max-width: 420px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.policy {
    font-size: 16px;
    font-weight: 400;
    margin-right: 3px;
}

.policyBold {
    font-size: 16px;
    font-weight: 700;
    margin-right: 3px;
}

.checkbox {
    margin-right: 10px;
}

.policyContainer {
    margin-bottom: 40px;
}

.orSignUp {
    font-size: 16px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

.socialLogin {
    font-size: 16px;
    font-weight: 700;
    height: 52px;
    cursor: pointer;
    width: 420px;
    background-color: #E8E8E8;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}