
.creatorCard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.services {
    margin-top: 50px;
}

@media screen and (max-width: 1160px) {
    .creatorCard {
        display: flex;
        justify-content: center;
    }
}
