.menu {
  min-width: 300px;
  border-bottom: 1px solid #B2B2B2;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
}
.servicesContainer {
  margin-top: 40px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.service {
  width: 100%;
  height: 579px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.serviceImageWrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.servicesMenuButton{
  padding: 3px;
}

.merchMenuButton{
  padding: 3px;
  margin-left: 40px;
  color: #595959;
}

.selected {
  border-bottom: 4px solid #D800B9;
  padding-bottom: 8px;
}

.servicesImage {
  border-radius: 10px;
}

.star {
  margin-right: 3px;
}

.starWrapper {
  margin-right: 3px;
  display: flex;
  align-items: center;
}

.serviceTitle {
  font-weight: 600;
  font-size: 20px;
  margin-top: 0px;
}

.titleContainer {
  display: flex;
}

.logoImageWrapper {
  width: 95px;
}

.serviceDescription {
  width: 250px;
}

.startingAt{
  font-weight: 400;
  font-size: 16;
  margin-right: 10px;
}

.priceWrapper {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  align-items: center;
}

.price {
  font-weight: 500;
  font-size: 30px;
}
